[Unit]
Description=Kibble Edge Node Telemetry Collector
After=network.target

[Service]
Type=simple
User=kibble
Group=kibble
ExecStart=/usr/bin/python3 #location of monitoring script
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
